header,
.centered {
  text-align: center;
}

ul {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
}

li {
  line-height: 1.5em;
  float: left;
  display: inline;
}

#quad > li > a {
  padding: 10px;
}

#quad > li > a:hover {
  background-color: #ccc
}
