{% extends "layout.html" %}
{% block body %}
<div class="container">
  {% block header %}{% endblock %}
  <div class="row centered">
    {% if post %}
      <h1 id="title">{{ post.title }}</h1>
      <a href="{{ post.url }}" target="_blank">
        <img src="{{ post.url }}" id="centerpiece" />
      </a>
      <h4 id="byline">Submitted <span class="date">{{ post.created_utc }}</span> to <a href="http://reddit.com/r/{{ sub }}" target="_blank">/r/{{ sub }}</a></h4>
    {% else %}
      <h1 id="none">No non-self posts found!</h1>
    {% endif %}
  </div>
  <div class="row">
    <h4>Find reposts for subreddits...</h4>
    <ul id="quad">
      {% for s in top_subs %}
      <li><a href="/r/{{ s }}">{{ s }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
